@import "tailwindcss";

body {
  margin: 0;
  height: 100%;
  background-image: url("https://mcteamster.com/img/splash.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
