@import "tailwindcss";

html {
  margin: 0;
  min-height: 100%;
  background-color: #222;
  background-image: url("https://mcteamster.com/jpeg/splash.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
